body, html, #zigbang-zigzi {
    min-height: 100vh !important;
}

footer {
    position:absolute;
    left:0; right:0; bottom:0;
    padding-top: 30px !important;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: bold;
    height: auto !important;
    padding-bottom: 30px !important;
    border-bottom: 1px solid #333 !important;
}
